.titulos{
	font-style: italic;
	font-weight: bolder;
	color: #222222;
}
#index .logoMc{
	width: 150px;
  margin-left: 20px;
}

#index .button{
	border: 3px solid #275e27;
	color: #275e27;
	background-color: #fff;
	font-weight: bold;
	border-radius: 10px;
}

#index .button:hover{
	background-color: #275e27;
	color: #fff;
}

#index .icon{
	margin-left: -30px;
	float: left;
	margin-top: 20px;
	font-size: 20pt;
}

#index .info{
	position: absolute;
	bottom: 15px;
	margin-left: -10px;
}
#index .icone{
	font-size: 25pt;
}
#index .fechar{
	position: absolute;
	margin-left: -20px;
	margin-top: -10px;
	cursor: pointer;
}

#cadProjeto .erroTel{
	font-size: 15pt;
	border:1px solid #20B2AA;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	background-color: #20B2AA;
}

#index .logoSofa{
	
	width: 200px;
	height: 50px;
	margin-left:50px;
	margin-top: -15px;

}
th{
	cursor: pointer;
}
#acoes{
	font-size: 20px; 
	cursor: pointer;
}
thead{
	background:#222222 url(../images/header_bg.png) repeat-x;
	color: #fff;
}