#index .logoMc{
	width: 150px;
  margin-left: 20px;
}

#index .button{
	background-color: #262626;
	color: #999999;
}

#index .button:hover{
	color: #fff;
}

#index .icon{
	margin-left: -30px;
	float: left;
	margin-top: 20px;
	font-size: 20pt;
}

#index .info{
	position: absolute;
	bottom: 15px;
	margin-left: -10px;
}

