#index .logoMc{
	width: 150px;
  margin-left: 20px;
}

#index .button{
	background-color: #262626;
	color: #999999;
}

#index .button:hover{
	color: #fff;
}

#index .icon{
	margin-left: -30px;
	float: left;
	margin-top: 20px;
	font-size: 20pt;
}

#index .info{
	position: absolute;
	bottom: 15px;
	margin-left: -10px;
}
#index .icone{
	font-size: 25pt;
}
#index .fechar{
	position: absolute;
	margin-left: -20px;
	margin-top: -10px;
	cursor: pointer;
}

#cadProjeto .erroTel{
	font-size: 15pt;
	border:1px solid #20B2AA;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	background-color: #20B2AA;
}