.titulos{
	font-style: italic;
	font-weight: bolder;
	color: #222222;
}
#index .logoMc{
	width: 150px;
	height: 55px;
	float: right;
	margin-right: 15px;
}
#index #header{
	top:0%; 
  	position: fixed;
  	z-index: 1;
}
#index .button{
	border: 3px solid #222222;
	color: #222222;
	background-color: #fff;
	font-weight: bold;
	border-radius: 10px;
}

#index .button:hover{
	background-color: #222222;
	color: #fff;
}

#index .icon{
	margin-left: -30px;
	float: left;
	margin-top: 20px;
	font-size: 20pt;
}

#index .info{
	position: absolute;
	bottom: 15px;
	margin-left: -10px;
}
#index .icone{
	font-size: 25pt;
}
#index .fechar{
	position: absolute;
	margin-left: -20px;
	margin-top: -10px;
	cursor: pointer;
}

#cadProjeto .erroTel{
	font-size: 15pt;
	border:1px solid #20B2AA;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	background-color: #20B2AA;
}

#index .logoSofa{
	width: 200px;
	height: 40px;
}
th{
	cursor: pointer;
}
#acoes{
	font-size: 13px; 
	cursor: pointer;
}
.cadOk{
	background-color: #4cae4c;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	color: #fff;
	font-size: 20px;
}